{
  "openapi": "3.0.0",
  "info": {
    "title": "Asolytics Public API",
    "description": "> **Alpha version.** This API is in active development. Endpoint shapes, parameters, response formats and token costs may change without prior notice. Pin against stable contracts in your own code and watch the changelog before relying on it in production.",
    "version": "1.0.0-alpha"
  },
  "servers": [
    {
      "url": "https://app.asolytics.pro",
      "description": "Main API server"
    }
  ],
  "paths": {
    "/public-api/v1/applications/metadata": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Applications metadata",
        "description": "Returns the latest text metadata (title, sub_title, description) of the given apps in the requested locales — the same text the store currently shows on each app's listing page. Only locales that actually carry data are emitted; `origin_id`s we don't have indexed are silently absent.<br><br>**Costs:** 10 tokens per returned (app, locale) pair. A request that returns no pairs is free.",
        "operationId": "publicApiApplicationsMetadata",
        "parameters": [
          {
            "name": "origin_ids[]",
            "in": "query",
            "description": "App store origin ids (max 10) — App Store: numeric track ids (e.g. `1234567890`); Google Play: bundle ids (e.g. `com.acme.app`).",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            },
            "example": [
              "1234567890",
              "9876543210"
            ]
          },
          {
            "name": "locales[]",
            "in": "query",
            "description": "Locale codes (max 10). Sourced from `/v1/common-catalogs/locales`.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            },
            "example": [
              "en_US",
              "de_DE"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Applications metadata grouped by locale.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiApplicationsMetadataViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/applications/metadata/media": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Applications media",
        "description": "Returns the latest screenshots and preview videos of the given apps in the requested locales — the same media the store currently shows on each app's listing page. Each screenshot carries its `device` and 0-based `position` so you can reconstruct the gallery order. Only locales that actually carry media are emitted; `origin_id`s we don't have indexed are silently absent.<br><br>**Costs:** 10 tokens per returned (app, locale) pair. A request that returns no pairs is free.",
        "operationId": "publicApiApplicationsMedia",
        "parameters": [
          {
            "name": "origin_ids[]",
            "in": "query",
            "description": "App store origin ids (max 10) — App Store: numeric track ids (e.g. `1234567890`); Google Play: bundle ids (e.g. `com.acme.app`).",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            },
            "example": [
              "1234567890",
              "9876543210"
            ]
          },
          {
            "name": "locales[]",
            "in": "query",
            "description": "Locale codes (max 10). Sourced from `/v1/common-catalogs/locales`.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            },
            "example": [
              "en_US",
              "de_DE"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Applications media grouped by locale.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiApplicationsMediaViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/applications/availability": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Applications availability",
        "description": "Returns the list of countries in which each of the given apps is currently live in the store. Apps available nowhere (taken down, not yet released, region-blocked everywhere we check) are omitted from the response entirely.<br><br>**Costs:** 10 tokens per app present in the response. A request whose apps are all unavailable returns an empty list and is free.",
        "operationId": "publicApiApplicationsAvailability",
        "parameters": [
          {
            "name": "origin_ids[]",
            "in": "query",
            "description": "App store origin ids (max 10) — App Store: numeric track ids (e.g. `1234567890`); Google Play: bundle ids (e.g. `com.acme.app`).",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            },
            "example": [
              "1234567890",
              "9876543210"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Per-app availability.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiApplicationsAvailabilityViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/applications/versions": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Application version history",
        "description": "Returns the full version history of a single application, newest-first — every release we've captured from the store, with the developer's release notes when present. Returns 404 if the `origin_id` doesn't resolve to a known application; apps with no captured versions return an empty `versions` list (still billed).<br><br>**Costs:** 10 tokens per call.",
        "operationId": "publicApiApplicationVersions",
        "parameters": [
          {
            "name": "origin_id",
            "in": "query",
            "description": "Store origin id of the application — App Store: numeric track id (e.g. `1234567890`); Google Play: bundle id (e.g. `com.acme.app`).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "Version history.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiApplicationVersionsViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "404": {
            "description": "Application not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAppNotFoundSchema"
                }
              }
            }
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/applications/installs": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Application installs history",
        "description": "Returns monthly **estimated** installs for a single application across every country we currently track, for each month in the requested range. Values are estimates derived from store signals — not measured installs — and are emitted as `null` for months we couldn't estimate (sparsely-tracked apps, or the most recent month while it's still being computed). Returns 404 if the `origin_id` doesn't resolve to a known application.<br><br>**Costs:** 5 tokens per emitted (country, month) pair carrying a non-null value (`0` counts; `null` does not). Minimum 5 tokens per call — charged even if the entire grid is null.",
        "operationId": "publicApiApplicationInstalls",
        "parameters": [
          {
            "name": "origin_id",
            "in": "query",
            "description": "Store origin id of the application — App Store: numeric track id (e.g. `1234567890`); Google Play: bundle id (e.g. `com.acme.app`).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Inclusive lower month (`Y-m`).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2026-03"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Inclusive upper month (`Y-m`).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2026-05"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-country installs history.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiAppInstallsHistoryViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "404": {
            "description": "Application not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAppNotFoundSchema"
                }
              }
            }
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/applications/revenue": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Application revenue history",
        "description": "Returns monthly **estimated** revenue (USD) for a single application across every country we currently track, for each month in the requested range. Values are estimates derived from store signals — not measured revenue — and are emitted as `null` for months we couldn't estimate (sparsely-tracked apps, or the most recent month while it's still being computed). Returns 404 if the `origin_id` doesn't resolve to a known application.<br><br>**Costs:** 5 tokens per emitted (country, month) pair carrying a non-null value (`0` counts; `null` does not). Minimum 5 tokens per call — charged even if the entire grid is null.",
        "operationId": "publicApiApplicationRevenue",
        "parameters": [
          {
            "name": "origin_id",
            "in": "query",
            "description": "Store origin id of the application — App Store: numeric track id (e.g. `1234567890`); Google Play: bundle id (e.g. `com.acme.app`).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Inclusive lower month (`Y-m`).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2026-03"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Inclusive upper month (`Y-m`).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2026-05"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-country revenue history.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiAppRevenueHistoryViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "404": {
            "description": "Application not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAppNotFoundSchema"
                }
              }
            }
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/applications/ranking": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Application ranking history",
        "description": "Returns the ranking history of a single application in the given country, as a paginated flat list of `{date, keyword, position}` rows — one row per scanned (date, keyword) pair the app ranks for, across every keyword we cover (no keyword filter). Supports a position-range filter and sorting by `date`, `position` or `keyword`; pipeline is filter → sort → paginate, so `total` / `total_pages` reflect the filtered universe. The window cannot exceed **7 days** and `date_from` cannot reach further back than the 1st of (current month − 5 months). Returns 404 if the `origin_id` doesn't resolve to a known application; apps with no scans in range return an empty page (still billed the minimum).<br><br>**Costs:** `max(5, ceil(rows_on_page / 20))` tokens — 1 token per started bucket of 20 rows on the returned page, with a floor of 5 charged even on empty responses.",
        "operationId": "publicApiApplicationsRanking",
        "parameters": [
          {
            "name": "origin_id",
            "in": "query",
            "description": "Store origin id of the application — App Store: numeric track id (e.g. `1234567890`); Google Play: bundle id (e.g. `com.acme.app`).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Sourced from `/v1/common-catalogs/countries`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 2,
              "minLength": 2
            },
            "example": "US"
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Start of the window. Must be on or after the 1st of (current month − 5 months).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-01"
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "End of the window. Must be ≤ `date_from` + 7 days.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-08"
          },
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Page size in number of rows (default 100, max 1000).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000,
              "minimum": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort rows by. Allowed: `date`, `position`, `keyword`.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "date",
                "position",
                "keyword"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction. Defaults to `desc` (newest / worst position first).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "filters[position][from]",
            "in": "query",
            "description": "Inclusive lower bound on `position`. Filtering is applied before pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "filters[position][to]",
            "in": "query",
            "description": "Inclusive upper bound on `position`. Must be ≥ `filters[position][from]`.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Per-date ranking history.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiApplicationsRankingViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "404": {
            "description": "Application not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiAppNotFoundSchema"
                }
              }
            }
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/balance": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "Get token balance",
        "description": "Returns the user's current public-API token balance along with the last 100 balance transactions (newest first). Each transaction carries its `cause` (the endpoint key that triggered the debit, `null` for system rows like the monthly balance renewal), a signed `amount` (debits are negative), the timestamp, and a pointer back to the originating public-API request (`null` for system rows). The full `cause_details` payload is intentionally not exposed here — treat the list as a quick activity feed, not a complete audit trail.<br><br>**Costs:** 1 token per call.",
        "operationId": "publicApiGetBalanceInfo",
        "responses": {
          "200": {
            "description": "Current token balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ApiTokensBalanceViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "404": {
            "description": "No balance found for the user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiBalanceNotFoundSchema"
                }
              }
            }
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/common-catalogs/countries": {
      "get": {
        "tags": [
          "Common Catalogs"
        ],
        "summary": "List countries",
        "description": "Returns the countries we support for the given store — the valid values for every `country_code` parameter elsewhere in the API. The list changes rarely; cache it on your side rather than calling on every request.<br><br>**Costs:** 1 token per call.",
        "operationId": "publicApiGetCommonCatalogsCountries",
        "parameters": [
          {
            "name": "store",
            "in": "query",
            "description": "Store key.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "APP_STORE",
                "GOOGLE_PLAY"
              ],
              "example": "APP_STORE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Countries available for the store.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CommonCatalogsCountriesViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/common-catalogs/locales": {
      "get": {
        "tags": [
          "Common Catalogs"
        ],
        "summary": "List locales",
        "description": "Returns the locales we support for the given store — the valid values for `locales[]` on the applications/metadata and applications/metadata/media endpoints. The list changes rarely; cache it on your side rather than calling on every request.<br><br>**Costs:** 1 token per call.",
        "operationId": "publicApiGetCommonCatalogsLocales",
        "parameters": [
          {
            "name": "store",
            "in": "query",
            "description": "Store key.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "APP_STORE",
                "GOOGLE_PLAY"
              ],
              "example": "APP_STORE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Locales available for the store.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CommonCatalogsLocalesViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/common-catalogs/devices": {
      "get": {
        "tags": [
          "Common Catalogs"
        ],
        "summary": "List devices",
        "description": "Returns the device keys we support for the given store — `IPHONE` and `IPAD` on App Store, `MOBILE` on Google Play. These are the valid values for every `device` parameter elsewhere in the API (live-search, store-charts). The list changes rarely; cache it on your side.<br><br>**Costs:** 1 token per call.",
        "operationId": "publicApiGetCommonCatalogsDevices",
        "parameters": [
          {
            "name": "store",
            "in": "query",
            "description": "Store key.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "APP_STORE",
                "GOOGLE_PLAY"
              ],
              "example": "APP_STORE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devices available for the store.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CommonCatalogsDevicesViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/common-catalogs/categories": {
      "get": {
        "tags": [
          "Common Catalogs"
        ],
        "summary": "List categories",
        "description": "Returns the store-chart categories for the given store. Each entry's `key` is the value to pass as `category_key` on `/v1/store-charts`. The list changes rarely; cache it on your side.<br><br>**Costs:** 1 token per call.",
        "operationId": "publicApiGetCommonCatalogsCategories",
        "parameters": [
          {
            "name": "store",
            "in": "query",
            "description": "Store key.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "APP_STORE",
                "GOOGLE_PLAY"
              ],
              "example": "APP_STORE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Categories for the store.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CommonCatalogsCategoriesViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/common-catalogs/clusters": {
      "get": {
        "tags": [
          "Common Catalogs"
        ],
        "summary": "List clusters",
        "description": "Returns the chart clusters for the given store — App Store: top-free / top-paid / top-grossing × iPhone / iPad; Google Play: the equivalent set. Each entry's `key` is the value to pass as `cluster_key` on `/v1/store-charts`. The list changes rarely; cache it on your side.<br><br>**Costs:** 1 token per call.",
        "operationId": "publicApiGetCommonCatalogsClusters",
        "parameters": [
          {
            "name": "store",
            "in": "query",
            "description": "Store key.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "APP_STORE",
                "GOOGLE_PLAY"
              ],
              "example": "APP_STORE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clusters for the store.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CommonCatalogsClustersViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/competitors": {
      "get": {
        "tags": [
          "Competitors"
        ],
        "summary": "List competitors",
        "description": "Returns the apps marked as competitors on the project, optionally filtered by state. Competitor state is tracked in the project store's US country (the public API hides per-country state — each app has exactly one state in the list). Each entry carries the competitor app's basic info and its current state (`competitor`, `non_competitor`, `indirect_competitor`).<br><br>**Costs:** 10 tokens per call.",
        "operationId": "publicApiListCompetitors",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Sourced from `/v1/projects/list`.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "name": "filters[competitor_state][]",
            "in": "query",
            "description": "Keep only apps in the given state(s). Defaults to all states.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "competitor",
                  "non_competitor",
                  "indirect_competitor"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Competitor apps.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiCompetitorsListViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "404": {
            "description": "Project not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiProjectNotFoundSchema"
                }
              }
            }
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/competitors/mark": {
      "post": {
        "tags": [
          "Competitors"
        ],
        "summary": "Mark a competitor",
        "description": "Marks an app (by its store `origin_id`) as `competitor`, `non_competitor` or `indirect_competitor` for the project. Idempotent — re-marking with the same state is a no-op; re-marking with a different state moves the app to that state. Returns 404 if the `competitor_origin_id` doesn't resolve to a known app.<br><br>**Costs:** 1 token per call.",
        "operationId": "publicApiMarkCompetitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "project_id",
                  "competitor_origin_id",
                  "state"
                ],
                "properties": {
                  "project_id": {
                    "description": "Sourced from `/v1/projects/list`.",
                    "type": "integer",
                    "example": 123
                  },
                  "competitor_origin_id": {
                    "description": "Store origin id of the competitor app — App Store: numeric track id; Google Play: bundle id.",
                    "type": "string",
                    "example": "1234567890"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "competitor",
                      "non_competitor",
                      "indirect_competitor"
                    ],
                    "example": "competitor"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiSuccessSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "404": {
            "description": "Project or application not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiProjectNotFoundSchema"
                    },
                    {
                      "$ref": "#/components/schemas/PublicApiAppNotFoundSchema"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/competitors/unmark": {
      "post": {
        "tags": [
          "Competitors"
        ],
        "summary": "Unmark a competitor",
        "description": "Removes any competitor mark for the given app (by its store `origin_id`) within the project — the app drops out of the competitors list entirely. Returns 404 if the `competitor_origin_id` doesn't resolve to a known app.<br><br>**Costs:** 1 token per call.",
        "operationId": "publicApiUnmarkCompetitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "project_id",
                  "competitor_origin_id"
                ],
                "properties": {
                  "project_id": {
                    "description": "Sourced from `/v1/projects/list`.",
                    "type": "integer",
                    "example": 123
                  },
                  "competitor_origin_id": {
                    "description": "Store origin id of the competitor app — App Store: numeric track id; Google Play: bundle id.",
                    "type": "string",
                    "example": "1234567890"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unmarked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiSuccessSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "404": {
            "description": "Project or application not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiProjectNotFoundSchema"
                    },
                    {
                      "$ref": "#/components/schemas/PublicApiAppNotFoundSchema"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/keywords/ranking/track": {
      "post": {
        "tags": [
          "Keywords"
        ],
        "summary": "Track keyword rankings",
        "description": "Runs an on-demand keyword-ranking scan for a (store, country) and returns each keyword's top positions with the apps holding them. Use this when you need fresh ranking data *now* for keywords you don't already have tracked. Without `response_conf` the call blocks on the scan and the response carries the result; with `response_conf.url` the task is queued and the result is later POSTed to that URL (the immediate response then only carries task info). Up to 500 keywords per request. Keywords already in your tracked-keyword quota are billed as free; the remainder are **paid keywords**.<br><br>**Costs:** 5 tokens per paid keyword, minimum 5 per call.",
        "operationId": "publicApiTrackKeywordsRanking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "store",
                  "country_code",
                  "keywords"
                ],
                "properties": {
                  "store": {
                    "type": "string",
                    "enum": [
                      "APP_STORE",
                      "GOOGLE_PLAY"
                    ],
                    "example": "APP_STORE"
                  },
                  "country_code": {
                    "description": "Sourced from `/v1/common-catalogs/countries`.",
                    "type": "string",
                    "maxLength": 2,
                    "minLength": 2,
                    "example": "US"
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "photo editor"
                    },
                    "maxItems": 500,
                    "minItems": 1
                  },
                  "custom_data": {
                    "description": "Arbitrary key/value data echoed back in the task info.",
                    "type": "object",
                    "example": {
                      "client_request_id": "abc-123",
                      "campaign": "spring-2026"
                    },
                    "nullable": true,
                    "additionalProperties": true
                  },
                  "response_conf": {
                    "description": "When present, the task is processed asynchronously and the result is POSTed to `url`.",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://example.com/webhook"
                      },
                      "headers": {
                        "description": "Additional headers sent with the callback request. Values are strings.",
                        "type": "object",
                        "example": {
                          "Authorization": "Bearer xxx",
                          "X-Trace-Id": "abc"
                        },
                        "nullable": true,
                        "additionalProperties": true
                      }
                    },
                    "type": "object",
                    "nullable": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Synchronous result, or task info when processed asynchronously.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/TrackKeywordsRankingResultViewSchema"
                            },
                            {
                              "$ref": "#/components/schemas/TrackKeywordsRankingTaskInfoViewSchema"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/keywords/ranking": {
      "get": {
        "tags": [
          "Keywords"
        ],
        "summary": "Keywords ranking history",
        "description": "Returns the top-50 ranking history per keyword for a (store, country) across the requested date range. For each date we emit the apps in their store-shown order with `origin_id` and current title. Dates without a scan are skipped — no gap-filling; apps we couldn't resolve to a known origin are dropped from the positions list. Up to 500 keywords per request; `date_from` cannot reach further back than the start of (current month − 6 months).<br><br>**Costs:** 1 token per (keyword, date) pair returned. A request with no scans in range is free.",
        "operationId": "publicApiKeywordsRanking",
        "parameters": [
          {
            "name": "keywords[]",
            "in": "query",
            "description": "Keyword phrases (max 500).",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 500
            },
            "example": [
              "photo editor",
              "video maker"
            ]
          },
          {
            "name": "store",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "APP_STORE",
                "GOOGLE_PLAY"
              ]
            },
            "example": "APP_STORE"
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Sourced from `/v1/common-catalogs/countries`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 2,
              "minLength": 2
            },
            "example": "US"
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Start of the window. Must be on or after the start of (current month − 6 months).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-01"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-12"
          }
        ],
        "responses": {
          "200": {
            "description": "Per-keyword top-50 ranking history.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiKeywordsRankingViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/keywords/popularity": {
      "get": {
        "tags": [
          "Keywords"
        ],
        "summary": "Keywords popularity history",
        "description": "Returns per-keyword popularity history for a (store, country) across the requested date range. For App Store each date carries both `popularity` (raw scan) and `mlp_popularity` (the ML-derived synthetic value that smooths over scan gaps); for Google Play only `mlp_popularity` is returned because GP stores a single popularity column. Only dates with real scans are emitted — no gap-filling, no interpolation. Up to 1000 keywords per request; `date_from` cannot reach further back than the start of (current month − 6 months).<br><br>**Costs:** 1 token per (keyword, date) pair returned. A request with no scans in range is free.",
        "operationId": "publicApiKeywordsPopularity",
        "parameters": [
          {
            "name": "keywords[]",
            "in": "query",
            "description": "Keyword phrases (max 1000).",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 1000
            },
            "example": [
              "photo editor",
              "video maker"
            ]
          },
          {
            "name": "store",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "APP_STORE",
                "GOOGLE_PLAY"
              ]
            },
            "example": "APP_STORE"
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Sourced from `/v1/common-catalogs/countries`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 2,
              "minLength": 2
            },
            "example": "US"
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Start of the window. Must be on or after the start of (current month − 6 months).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-01"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-12"
          }
        ],
        "responses": {
          "200": {
            "description": "Per-keyword popularity history.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiKeywordsPopularityViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/keywords/metrics": {
      "get": {
        "tags": [
          "Keywords"
        ],
        "summary": "Keywords latest metrics",
        "description": "Returns a snapshot of one or more latest metrics for up to 250 keywords in a (store, country). Each keyword in the response appears exactly once in the same order and casing as the request; duplicate keywords are deduplicated. Only the requested metrics are present on each keyword object. Metrics that resolve to null (no scan data available) are omitted from the billed pairs but still appear in the response as null.<br><br>**Metric availability by store:**<br>- `popularity` — App Store only (raw scan); Google Play omits the `popularity` field, only `mlp_popularity` is returned.<br>- `max_popularity` — App Store: `year_max_popularity` (raw) and `synthetic_year_max_popularity` (mlp). Google Play: `mlp_max_popularity` only (`all_time_max_popularity`).<br>- `impressions` — App Store: estimated daily impressions derived from both real and synthetic popularity. Google Play: `mlp_impressions` only.<br>- `difficulty` — both stores, single value (no real/mlp split).<br>- `language` — both stores, country-independent, single value.<br><br>**Costs:** 1 token per (keyword, metric) pair where the resolved value is non-null; minimum 1 token per call.",
        "operationId": "publicApiKeywordsMetrics",
        "parameters": [
          {
            "name": "keywords[]",
            "in": "query",
            "description": "Keyword phrases (max 250). Duplicates are deduplicated.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 250,
              "minItems": 1
            },
            "example": [
              "photo editor",
              "video maker"
            ]
          },
          {
            "name": "store",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "APP_STORE",
                "GOOGLE_PLAY"
              ]
            },
            "example": "APP_STORE"
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "2-letter ISO country code. Sourced from `/v1/common-catalogs/countries`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 2,
              "minLength": 2
            },
            "example": "US"
          },
          {
            "name": "metrics[]",
            "in": "query",
            "description": "Metrics to include in the response (min 1). Allowed values: `popularity`, `max_popularity`, `impressions`, `difficulty`, `language`.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "popularity",
                  "max_popularity",
                  "impressions",
                  "difficulty",
                  "language"
                ]
              },
              "minItems": 1
            },
            "example": [
              "popularity",
              "difficulty"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Per-keyword latest metrics snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiKeywordsMetricsViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/live-search": {
      "get": {
        "tags": [
          "Live Search"
        ],
        "summary": "Live search top 50",
        "description": "Returns the live (real-time) top-50 search results for a keyword in the given (store, country, device) — what a user would currently see on the store's search results page, including paid ad placements alongside organic items. On App Store each item carries its `type` (`apps`, `preorder`, `app-bundles`, `developers`, `editorial-items`, `in-apps`, `subscription`); Google Play returns apps only. `is_paid` marks ad placements and `position` is the 1-based rank in the full list with paid items counted. Items we couldn't resolve to a known origin are silently dropped.<br><br>**Costs:** 20 tokens per call that returns at least one item; 5 tokens per call that returns an empty list (empty isn't necessarily an error — the keyword may simply have no live matches).",
        "operationId": "publicApiLiveSearch",
        "parameters": [
          {
            "name": "store",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "APP_STORE",
                "GOOGLE_PLAY"
              ]
            },
            "example": "APP_STORE"
          },
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "photo editor"
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Sourced from `/v1/common-catalogs/countries`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 2,
              "minLength": 2
            },
            "example": "US"
          },
          {
            "name": "device",
            "in": "query",
            "description": "Device key. App Store: `IPHONE` or `IPAD`. Google Play: `MOBILE`. Fetch the allowed devices via `/v1/common-catalogs/devices`.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "IPHONE",
                "IPAD",
                "MOBILE"
              ]
            },
            "example": "IPHONE"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-50 organic results.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiLiveSearchViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "422": {
            "description": "Validation error."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/projects/list": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List user projects",
        "description": "Returns every project (app + country) belonging to the authenticated user. The `id` of each project is what every project-scoped endpoint (tracking, recommended-keywords, competitors) expects as `project_id`.<br><br>**Costs:** 10 tokens per call.",
        "operationId": "publicApiGetProjectsList",
        "responses": {
          "200": {
            "description": "List of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/GetProjectsListResultViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "publicApiToken": []
          }
        ]
      }
    },
    "/public-api/v1/recommended-keywords": {
      "get": {
        "tags": [
          "Recommended Keywords"
        ],
        "summary": "List recommended keywords",
        "description": "Returns the keywords we recommend you track for a project in the given country, surfaced from the project's app metadata, competitors' metadata, store suggestions, current rankings and related keywords. Each entry carries the phrase, the `sources` that proposed it and its current `state` (`recommended` — fresh suggestion, `tracked` — already in your tracking set, `declined` — you previously dismissed it via `/decline`). Filter by state or by source(s) to narrow the working set.<br><br>**Costs:** `max(10, ceil(returned / 100))` tokens — minimum 10 per call, then 1 extra token for every started bucket of 100 returned keywords.",
        "operationId": "publicApiListRecommendedKeywords",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Sourced from `/v1/projects/list`.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Sourced from `/v1/common-catalogs/countries`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 2,
              "minLength": 2
            },
            "example": "US"
          },
          {
            "name": "filters[recommended_keyword_state][]",
            "in": "query",
            "description": "Keep only keywords in the given state(s).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "recommended",
                  "tracked",
                  "declined"
                ]
              }
            }
          },
          {
            "name": "filters[sources][]",
            "in": "query",
            "description": "Keep only keywords from the given sources.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "meta",
                  "competitors",
                  "suggestions",
                  "rankings",
                  "related"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recommended keywords.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiRecommendedKeywordsListViewSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid public API token."
          },
          "404": {
            "description": "Project not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiProjectNotFoundSchema"
                }
              }
            }
          },
          "402": {
            "description": "Not enough tokens on the balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiNotEnoughTokensSchema"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PublicApiResponseViewSchema"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicApiInternalErrorSchema"
                        }
                      },
[...]
